html, body{
    height: 100vh;
    margin: 0;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.g-0{
    height: 100vh;
    display: flex;
}

.pages{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.sidenav{
    background-image: linear-gradient(to bottom right, #10ac84 , #fff200);
}

.main{
    background-color: #f5f6fa;
}

.side-nav-item{
    padding: 10px 0 5px 7px;
    border-radius: 22px;
    margin: 5px 0;
}

.side-nav-active{
    padding: 10px 0 5px 7px;
    border-radius: 22px;
    background-color: #f5f6fa;
    color: #10ac84 !important;
}


.side-nav-item:hover{
    background-color: #f5f6fa;
    color: #10ac84;
}

.side-nav-link{
    color: whitesmoke;
}

.side-nav-link:hover{
    color: #10ac84
}